
body {
  background-image: url('https://i.pinimg.com/originals/7e/40/62/7e40626a32954718797e4bc8382c1ab7.gif');
  background-repeat: repeat;
  background-size: 200px 200px;
}
main {
  cursor: url('./palta_mouse.png'), pointer;
}
h1 {
  font-size: 20rem;
  margin-bottom: 0;
  margin-top: 0;
}
.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }

}
.hide {
  opacity: 0;
}
.action-button {
  width: 200px;
  height: 80px;
  font-size: large;
}
.palta-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#palta {
  margin-top: -200px;
  margin-bottom: -100px;
  z-index: -1;
}